In [1]:
import pandas as pd
import os

In [2]:
#obtain list of sectors
directory = f"Analyzing - Future"
list_sector = []
for filename in os.listdir(directory):
    list_sector.append(filename)

In [9]:
list_sector = list_sector[1:]
list_sector

['Consumer Defensive Sector',
 'Financial Services Sector',
 'Energy Sector',
 'Basic Materials Sector',
 'Industrials Sector',
 'Consumer Cyclical Sector',
 'Healthcare Sector',
 'Utilities Sector',
 'Technology Sector']

In [10]:

for name in list_sector:
    
    testing = pd.DataFrame()
    
    #obtain list of sectors
    directory = f'Analyzing - Future/{name}'
    sector = []
    for filename in os.listdir(directory):
        if filename.endswith(".csv"):
            sector.append(filename)
        
    
    for stock in sector:

    
        data = pd.read_csv(f"Analyzing - Future/{name}/{stock}")

        testing = pd.concat([testing, data])

        
    testing = testing.sort_values(by='Datetime')
    
    dates = testing['Datetime'].unique().tolist()
    
    
    dict_gains = {'1': [], '5': [], '10' : [], '20' : [], '30' : []}

    gains = ['1', '5', '10', '20', '30']

    for date in dates:
        data_df = testing.loc[testing['Datetime'] == date]

        for g in gains:
            mean = data_df[g].mean()

            dict_gains[g].append(mean)
            
    data_df = pd.DataFrame.from_dict(dict_gains)

    data_df['Datetime'] = dates
    
    mypath = f"Sectors - Mean"
    if not os.path.isdir(mypath):
        os.makedirs(mypath)

    data_df.to_csv(f"{mypath}/{name}.csv")

In [41]:
name

'Communication Services Sector'

In [35]:
data_df = pd.DataFrame.from_dict(dict_gains)

data_df['Datetime'] = dates

data_df.head()

          1         5        10        20        30             Datetime
0 -1.678411 -3.671940 -3.692397 -6.686227 -4.595956  2003-02-03 00:46:40
1 -0.867534 -3.520907 -3.557409 -6.356973 -3.524541  2003-02-04 00:46:40
2 -0.887946 -4.027478 -2.665802 -6.608707 -0.880763  2003-02-05 00:46:40
3 -0.390473 -4.021572 -1.484050 -6.042737  1.761451  2003-02-06 00:46:40
4 -0.238032 -3.003106 -2.533796 -8.410230 -0.623205  2003-02-07 00:46:40